{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
            <ul class="socialCol">
                <li>
                    <a href="https://www.linkedin.com/in/samukele-ndlovu-/" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a>
                </li>
                <li>
                    <a href="https://github.com/samukele-dev" target="_blank"><img src="{% static 'images/github.svg' %}" alt="..."></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mpongo_kazingelwayo_/" target="_blank"><img src="{% static 'images/insta.svg' %}" alt="..."></a>
                </li>
                <li>
                    <a href="https://twitter.com/__samukele__" target="_blank"><img src="{% static 'images/twitter.svg' %}" alt="..."></a>
                </li>
            </ul>
            <div class="copyrightCol">
                <p>Copyright ©{% now 'Y' %} Samukele Ndlovu <a href="" target="_blank">Built with Django</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->